
<div id="modal">

  <div class="modal-content">
    <div class="modal-header">
      <h2>Ingresar</h2>
      <span class="close">&times;</span>
    </div>
    <div class="imagenavatar">
      <img src="/assets/img/img_avatar2.png" alt="" class="avatarimagen">
    </div>
    <div class="modal-body">
      <div>
        <form action="" class="ingresoform">
          <label for="">Ingresa usuario</label>
          <br>
          <input type="email" required>
          <br>
          <label for="">Ingresa contraseña</label>
          <br>
          <input type="password">


          <div class="botones">
            <button>enviar</button>
            <button>cerrar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footerer">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores id non, hic distinctio, eligendi eos dolor repudiandae
        sed ab itaque odit, molestias atque architecto. Autem eligendi facere fugit unde mollitia!</p>
    </div>
  </div>


</div>














<!--   
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button>

 Modal
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form action="action_page.php">
              <div class="imgcontainer">
                <img src="/assets/img/img_avatar2.png" alt="Avatar" class="avatar">
              </div>
            
              <div class="container">
                <label for="uname"><b>Usuario</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
            
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            
                <button type="submit">Login</button>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Recordar cuenta
                </label>
              </div>
            
              <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Olvide mi <a href="inicio">password?</a></span>
              </div>
            </form>
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->
