


<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      

<div id="modalregistro">
          <div id="maestro">
          <div class="contenedor-formulario">
                
              <div class="wrap">
                   
                  <form action="" class="formulario" name="formulario_registro" method="get">
                      <div>
                            <a href=""> <span class="close">&times;</span></a>
                            
                            
                          <div class="input-group">
                              <input type="text" id="nombre" name="nombre" placeholder="Ingresa Nombre*" required>
                             
                          </div>
                          <div class="input-group">
                              <input type="email" id="correo" name="correo" placeholder="Ingresa correo*" required>
                              
                          </div>
                          <div class="input-group">
                              <input type="password" id="pass" name="pass" placeholder="Ingresa contraseña*" required>
                              
                          </div>
                          <div class="input-group">
                              <input type="password" id="pass2" name="pass2" placeholder="Confirma contraseña*" required>
                          </div>
                          <div class="input-group radio">
                              <input type="radio" name="sexo" id="hombre" value="Hombre">
                              <label for="hombre">Hombre</label>
                              <input type="radio" name="sexo" id="mujer" value="Mujer">
                              <label for="mujer">Mujer</label>
                          </div>
                          <div class="input-group checkbox">
                              <input type="checkbox" name="terminos" id="terminos" value="true" required>
                              <label for="terminos">Acepto los Terminos y Condiciones</label>
                          </div>
                              
                          <input type="submit" id="btn-submit" value="Registrar">
                      </div>
                  </form>
              </div>
          </div>
      
         
        </div>
        </div>