
  #modalregistro{
    background:#000000ab;
    width:100%;
    height: 100%;
	margin:0px;
    position: fixed;
    z-index: 7000;
  }
    #maestro{
        border-radius: 4%;
        top: 38px;
        box-shadow: 5px 5px #26e40d80;
        margin: auto;
        position: relative;
        background:#ffffff;
        width:450px;
        height: 550px;
        animation-name: animatetop;
    }

  .wrap {
    width: 90%;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    background: rgb(255, 255, 255);
    
}
  
  .contenedor-formulario {
    width: 100%;
    height: 200px;
    color: #2411d3;
    padding: 0px; 
   
}
    .contenedor-formulario .formulario {
      width: 100%;
      margin: auto; 
      height: 20px;
    
      
    }
      .contenedor-formulario .formulario .input-group {
        position: relative;
        margin-bottom: 32px; 
        background: rgb(255, 255, 255);

    }
        .contenedor-formulario .formulario .input-group input[type="text"],
        .contenedor-formulario .formulario .input-group input[type="email"],
        .contenedor-formulario .formulario .input-group input[type="password"] {
          font-family: "Roboto";
          font-size: 16px;
          color: #303F9F;
          width: 100%;
          outline: none;
          padding: 2px;
          background: none;
          border: none;
          border-bottom: 2px solid #BBDEFB;
         }
          .contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
          .contenedor-formulario .formulario .input-group input[type="email"]:focus,
          .contenedor-formulario .formulario .input-group input[type="email"]:active,
          .contenedor-formulario .formulario .input-group input[type="password"]:focus,
          .contenedor-formulario .formulario .input-group input[type="password"]:active 
          {
            outline: none;
            border-bottom: 2px solid rgba(0, 238, 20, 0.733);
         }
          .contenedor-formulario .formulario .input-group input[type="text"].error,
          .contenedor-formulario .formulario .input-group input[type="email"].error,
          .contenedor-formulario .formulario .input-group input[type="password"].error
           {
            border-bottom: 2px solid #D32F2F; 
        }
            .contenedor-formulario .formulario .input-group input[type="text"].error + label,
            .contenedor-formulario .formulario .input-group input[type="email"].error + label,
            .contenedor-formulario .formulario .input-group input[type="password"].error + label 
            {
              color: #D32F2F;
             }
        .contenedor-formulario .formulario .input-group label {
          color: rgb(0, 0, 0);
         }
          .contenedor-formulario .formulario .input-group label.label {
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            margin-left: 15px;
            font-size: 16px;
            line-height: 16px;
            position: absolute;
            top: 16px;
            left: 0; 
        }
            .contenedor-formulario .formulario .input-group label.label.active {
              top: -12px;
              font-size: 12px;
              line-height: 12px;
              color: #B6B6B6; 
            }
        .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
          display: inline-block;
          background: rgb(255, 255, 255);
          cursor: pointer;
          color: rgba(0, 0, 0, 0.733);;
          position: relative;
          padding: 5px 15px 5px 51px;
          font-size: 1em;
          border-radius: 3px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
            background: #bbdefb; }
          .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
            content: "";
            display: inline-block;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 15px;
            border-radius: 50%;
            background: none;
            border: 2px solid rgba(0, 238, 20, 0.733);; }
        .contenedor-formulario .formulario .input-group.error label {
          color: #D32F2F; }
          .contenedor-formulario .formulario .input-group.error label:hover {
            background: rgba(211, 47, 47, 0.2); }
          .contenedor-formulario .formulario .input-group.error label:before {
            border: 2px solid #D32F2F; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"] {
          display: none; }
          .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
            display: none; }
          .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
            padding: 5px 15px;
            background: rgba(0, 238, 20, 0.733);;
            border-radius: 2px;
            color: #f2f2f2; }
        .contenedor-formulario .formulario .input-group.checkbox label:before {
          border-radius: 3px; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
          display: none; }
          .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
            display: none; }
          .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
            background: rgba(0, 238, 20, 0.733);;
            color: #f2f2f2;
            padding: 5px 15px; }
      .contenedor-formulario .formulario input[type="submit"] {
        background: rgba(0, 238, 20, 0.733);
        border-radius: 15px;
        border: 2px solid #f2f2f2;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Roboto";
        font-size: 16px;
        padding: 5px;
        width: 100%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario input[type="submit"]:hover {
          background: #1976D2; }
  
  /*# sourceMappingURL=estilos.css.map */
  
  @keyframes animatetop {
    from {top: -30px; opacity: 0}
    to {top: 0; opacity: 1}
}


@media screen and (max-width: 600px) {
    #maestro{
        border-radius: 5%;
        top: 10px;
        box-shadow: 5px 5px #26e40d80;
        margin: auto;
        position: relative;
        background:#ffffff;
        width:350px;
        height: 450px;
        
    }
    .wrap {
      width: 90%;
      max-width: 350px;
      padding:0px;
      margin: auto;
      background: rgb(255, 255, 255);
      
  }
}