
<header>
  <div class="menu_bar">
      <a class="bt-menu"><span><img src="/assets/img/icon/menu.svg" alt=""></span>Menú</a>
      </div>

      <nav>
<ul>
  <li><a routerLink="inicio"><span><img src="/assets/img/icon/home.svg" alt=""></span>Inicio</a></li>
  <li class="submenu">
  <a routerLink="proyectos"><span class=""><img src="/assets/img/icon/make.svg" alt=""></span>Proyectos</a>
  <ul class="children">
      <li><a routerLink="#">Proyecto #1<span class="icon-dot"></span></a></li>
      <li><a routerLink="#">Proyecto #2<span class="icon-dot"></span></a></li>
      <li><a routerLink="#">Proyecto #3<span class="icon-dot"></span></a></li>
    </ul>
  </li>
  <li><a routerLink="creaunacolecta"><span class="icon-rocket"><img src="/assets/img/icon/coin-dollar.svg" alt=""></span>Crea una colecta</a></li>
  <li><a routerLink="comodonar"><span class="icon-dot"><img src="/assets/img/icon/credit-card.svg" alt=""></span>Como donar</a></li>
    <li><a routerLink="quienessomos"><span class="icon-dot"><img src="/assets/img/icon/man-woman.svg" alt=""></span>Quienes somos</a></li>
      <li><a routerLink="contacto"><span class="icon-mail"><img src="/assets/img/icon/mail.svg" alt=""></span>Contacto</a></li>
      <li><a routerLink="registro"><span class="icon-mail"><img src="/assets/img/icon/key.svg" alt=""></span>Registro</a></li>
      <li><a routerLink="login"><span class="icon-mail"><img src="/assets/img/icon/enter.svg" alt=""></span>Login</a></li>
         
</ul>


</nav>


</header>