


<header>
  <div class="menu_bar">
      <a class="bt-menu"><span class="icon-menu"></span>Menú</a>
      </div>

      <nav>
<ul>
  <li><a routerLink="inicio"><span class="icon-home2"></span>Inicio</a></li>
  <li class="submenu">
  <a routerLink="proyectos"><span class=""></span>Proyectos</a>
  <ul class="children">
      <li><a routerLink="#">Proyecto #1<span class="icon-dot"></span></a></li>
      <li><a routerLink="#">Proyecto #2<span class="icon-dot"></span></a></li>
      <li><a routerLink="#">Proyecto #3<span class="icon-dot"></span></a></li>
    </ul>
  </li>
  <li><a routerLink="creaunacolecta"><span class="icon-rocket"></span>Crea una colecta</a></li>
  <li><a routerLink="comodonar"><span class="icon-dot"></span>Como donar</a></li>
    <li><a routerLink="quienessomos"><span class="icon-dot"></span>Quienes somos</a></li>
      <li><a routerLink="contacto"><span class="icon-mail"></span>Contacto</a></li>
      <li><a routerLink="login"><span class="icon-mail"></span>Login</a></li>
      <li><a routerLink="registro"><span class="icon-mail"></span>Registro</a></li>
         
</ul>


</nav>


</header>