<div id="grid">

  <div id="imagen">
    <img class="imagen1" src="/assets/joyful-development.svg" alt="">
  </div>
  
  <div id="texto">
  <h5>INCREDIBLE TOOLING</h5> 


Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying to make the code work
  </div>
  
  </div>
