
<div>
  <img src="/assets/img/quees.png" alt="">
</div>
<div id="displayiconos">
<a href=""> <div id="divicono"> <img src="/assets/img/iconos30px/accessibility.svg" alt=""></div></a>
    <div id="divlinea">lll</div>
 <div id="divicono">
    <a href="#enviaproyecto"><img src="/assets/img/iconos30px/folder-upload.svg" alt=""></a></div>

<a href=""> <div id="divicono"><img src="/assets/img/iconos30px/share.svg" alt=""></div></a>
<a href=""> <div id="divicono"><img src="/assets/img/iconos30px/share.svg" alt=""></div></a>
</div>

<br>
<br>
<br>
<br>
<div id="divhijo">
    <h5>¿Qué es el crowdfunding?</h5>

<p>
Una nueva forma de financiar proyectos con ayuda de los mecenas

Hasta hace muy poco tiempo, si alguien quería sacar un proyecto adelante y necesitaba financiación tenía una serie de opciones genéricas. Pedir un préstamo, una subvención o engañar a familiares o amigos. Hoy en día, cada vez existen más plataformas de crowdfunding, pero ¿qué es el crowdfunding, la financiación colectiva o el micromecenazgo?

</p>
<section id="enviaproyecto">
<div >
<h5 >Envíanos tu Proyecto</h5> 

<h6> Definiciones</h6>
Crowdfunding: “Cooperación colectiva, llevada a cabo por personas que realizan una red para conseguir dinero u otros recursos, se suele utilizar Internet para financiar esfuerzos e iniciativas de otras personas u organizaciones”. Fuente: Wikipedia.
<p>
Crowdsourcing, “del inglés crowd (masa) y sourcing (externalización), también conocido como “tercerización masiva” o “subcontratación voluntaria”, consiste en externalizar tareas que, tradicionalmente, realizaba un empleado o contratista, a un grupo numeroso de personas o una comunidad (masa), a través de una convocatoria abierta.” Fuente: Wikipedia.

El crowdfunding nace de los primeros proyectos de Open Source donde los desarrolladores inicialmente ofrecían su trabajo de forma desinteresada. Posteriormente, frente al éxito de sus creaciones y también al trabajo que eso conllevaba, empezaron a pedir donaciones y la respuesta fue de nuevo mayor de la esperada. En ese momento, entre los creadores (que requerían de financiación) y los usuarios (que demandaban proyectos creativos y pagaban por ellos) nacia el Crowdfunding, la financiación colectiva, como una nueva opción para financiar, en un primer momento, proyecto creativos. Fuente: Wikipedia.

“Nadie es dueño de la multitud aunque crea tenerla dominada – Eugene Ionesco, Dramaturgo francés”
Hoy en día, cada vez existen más webs de crowdfunding y más proyectos financiados por ésta vía, algo que supone una nueva revolución en todos los sectores en los que nos movamos.

Los tipos de proyectos que se financian mediante el Crowdfunding no dejan de crecer, desde proyectos creativos hasta solidarios, pasando por empresariales. La especialización es cada vez mayor, y se espera que el crecimiento sea superior al 100% en los próximos años.
</p>
</div>
</section>
<h4>¿Cómo funciona el crowdfunding en general?</h4>
<p>

El emprendedor (creativo…) envía el proyecto a la plataforma de Crowdfunding. Indicando descripción, cantidad necesaria, tiempo de recaudación, recompensas…
Algunos se valoran de forma comunitaria, otros los valora la plataforma de Crowdfunding…
Se publica el proyecto por un tiempo determinado, 30, 60, 90, 120 días.
Se promociona lo máximo posible.
Fin del plazo. Financiado o no.
Este esquema puede verse alterado en gran medida en función del tipo de crowdfunding del que estemos hablado: recompensas, donaciones, inversión o préstamos.

La comunidad como esencia del crowdfunding
¿Qué es una comunidad?
RAE “Conjunto de personas y/u organizaciones interesadas en que un proyecto salga adelante”. “Un grupo de personas con diversas características que se encuentran asociadas por vínculos sociales, comparten perspectivas comunes y participan en acción conjunta en localidades o entornos geográficos (o virtuales).”

La comunidad como esencia del crowdfunding
El éxito o el fracaso de todos los proyectos que lanzan campañas de crowdfunding se basa en la captación de interesados, miembros de una comunidad, o activación de los componentes de una comunidad. El papel de las plataformas suele ser secundario, y es el promotor, el que ha de realizar el trabajo principal de movilización de su comunidad, que a su vez están compuestas por microcomunidades.
</p>

<h5>¿Somos una comunidad?</h5>
<p>
Visión común, valores.
Toda comunidad tiene una visión compartida y basada en unas ideas y valores similares.
Objetivos comunes.
Los miembros de una comunidad comparten objetivos finales, sus metas son las mismas.
El camino y las acciones a ejecutar son similares.
Las acciones para alcanzar esos objetivos son coordinadas y complementarias entre los miembros de la comunidad.
La motivación y energía parecida.
Las personas que conforman una comunidad están muy motivadas y son proactivas para alcanzar objetivos comunes y propios.
“El valor singular del Crowdfunding no radica en el dinero sino en la comunidad que se empodera”

</p>
</div>
