<app-header> </app-header>

<!--<app-barraflotante></app-barraflotante>-->


<div style="min-height: 70vh" class="body">    <!-- para posicionar el footer siempre abajo <div style="min-height: 70vh  del viewport>-->
<router-outlet></router-outlet>
</div>
<!--
<div id="divpadre">
        <div  *ngFor="let post of posts" id="divhijos">
            <a href=""><img src="/assets/img/crowdfunding-620x350.jpg" alt=""></a>
            <h5>{{post.title}}</h5>
            <p>{{post.body}}</p>
            </div>  
        </div> -->
<app-footer></app-footer>