<footer>
       
  <div class="container-footer-all">
   
       <div class="container-body">

           <div class="colum1">
               <h1>Mas informacion</h1>

               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non incidunt voluptate exercitationem libero excepturi animi at ipsum, ipsam reprehenderit. Eligendi ab assumenda dignissimos tempora vel alias? Optio voluptatibus obcaecati temporibus.</p>
                  </div>

           <div class="colum2">

               <h1>Redes Sociales</h1>

               <div class="row">
                   <img src="/assets/img/icon/facebook.png">
                   <label>Siguenos en Facebook</label>
               </div>
               <div class="row">
                   <img src="/assets/img/icon/twitter.png">
                   <label>Siguenos en Twitter</label>
               </div>
               <div class="row">
                   <img src="/assets/img/icon/instagram.png">
                   <label>Siguenos en Instagram</label>
               </div>
               <div class="row">
                   <img src="/assets/img/icon//google-plus.png">
                   <label>Siguenos en Google Plus</label>
               </div>
               <div class="row">
                   <img src="/assets/img/icon//pinterest.png">
                   <label>Siguenos en Pinteres</label>
               </div>


           </div>

           <div class="colum3">

               <h1>Informacion Contactos</h1>

               <div class="row2">
                   <img src="/assets/img/icon/house.png"><label>Telmexhub, Isabel la catolica sin # </label>
                  </div>

               <div class="row2">
                   <img src="/assets/img/icon//smartphone.png"><label>56-56 -11-11</label>
                  </div>

               <div class="row2">
                   <img src="/assets/img/icon/contact.png"><label>compuaztec75@gmail.com</label>
                  </div>

           </div>

       </div>
   
   </div>
   
   <div class="container-footer">
          <div class="footer">
               <div class="copyright"> © 2018 Todos los Derechos Reservados | <a href="">PePe</a></div>
               <div class="information"><a href="">Informacion del equipo</a> | <a href="">Aviso de Privacidad y Politicas</a> | <a href="">Terminos y Condiciones</a></div></div>
          </div>
   
</footer>